html {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.toolbar__styling-tools + div {
  display: none;
}
em, i {
	 font-style: italic;
}
 .document-publish ul.bullet-list, .editor__paper ul.bullet-list, .document-print ul.bullet-list {
	 padding-left: 0;
}
 .document-publish ul ol:before, .editor__paper ul ol:before, .document-print ul ol:before, .document-publish ol ol:before, .editor__paper ol ol:before, .document-print ol ol:before, .document-publish ul ul:before, .editor__paper ul ul:before, .document-print ul ul:before, .document-publish ol ul:before, .editor__paper ol ul:before, .document-print ol ul:before {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 1.5rem;
	 height: 1.5rem;
	 left: -2rem;
	 top: 0.5rem;
	 background-color: white;
	 z-index: 1;
}
 .document-publish ol:not(.bullet-list):not(.numbered-list), .editor__paper ol:not(.bullet-list):not(.numbered-list), .document-print ol:not(.bullet-list):not(.numbered-list), .document-publish ul:not(.bullet-list):not(.numbered-list), .editor__paper ul:not(.bullet-list):not(.numbered-list), .document-print ul:not(.bullet-list):not(.numbered-list) {
	 padding-left: 1.75em;
}
 .document-publish ol:not(.bullet-list):not(.numbered-list) > li, .editor__paper ol:not(.bullet-list):not(.numbered-list) > li, .document-print ol:not(.bullet-list):not(.numbered-list) > li, .document-publish ul:not(.bullet-list):not(.numbered-list) > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) > li, .document-print ul:not(.bullet-list):not(.numbered-list) > li {
	 list-style-type: initial;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li {
	 list-style-type: circle;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li {
	 list-style-type: square;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li {
	 list-style-type: initial;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: circle;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: square;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: initial;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: circle;
}
 .document-publish ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .editor__paper ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li, .document-print ul:not(.bullet-list):not(.numbered-list) li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li > ul > li {
	 list-style-type: square;
}
 .document-publish ol:not(.bullet-list):not(.numbered-list) > li, .editor__paper ol:not(.bullet-list):not(.numbered-list) > li, .document-print ol:not(.bullet-list):not(.numbered-list) > li {
	 list-style-type: decimal;
}
 .document-publish [property="besluit:heeftAgenda"] > ul:not(.bullet-list) li, .editor__paper [property="besluit:heeftAgenda"] > ul:not(.bullet-list) li, .document-print [property="besluit:heeftAgenda"] > ul:not(.bullet-list) li {
	 list-style-type: none;
}

/* Clean up design */
.button,
.button:visited {
  background-color: #9000FA;
  border-radius: 3rem;
}

.button:hover,
.button:focus {
  background-color: #8900ed;
}

a {
  color: #666;
}

/* Position save button in top right position */
.button-top-right {
  position: fixed !important;
  z-index: 2;
  top: 6.9rem;
  right: .9rem;
}

.editor-container {
  padding-top: 11.5rem;
  background-color: #F3F5F6;
}

.app-chrome {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

.app-chrome--header {
  padding: 1.5rem 2rem;
  height: 6rem;
  border-bottom: 1px solid #E8EBEE;
}

.app-chrome img {
  height: 3rem;
}

.app-chrome--toolbar-container {
  display: block;
}

.editor-loading-events,
.editor-hints {
  padding: 2rem;
  position: fixed;
  width: 33.33333%;
  right: 0;
  top: 11.5rem;
}

.editor-loading-events .grid {
  display: flex;
  align-items: center;
}

.editor-loading-events .col--2-12 {
  max-width: auto;
  min-width: auto;
  flex-basis: auto;
  margin-right: 1rem;
  color: #6D7783;
  opacity: .6;
}

.editor-loading-events .col--10-12 {
  max-width: auto;
  min-width: auto;
  flex-basis: auto;
  color: #6D7783;

}

.editor {
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

  .editor__paper {
    width: 700px;
  }


/* Fix modal position */
.annotation-suggestion__suggestion {
  right: 2rem;
  top: 5rem;
}

.modal-dialog.modal-dialog--sectioned .modal-dialog__content {
  max-height: 60vh;
  overflow: scroll;
}

/* Style modal content */
.wiki-content h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.wiki-content img {
  width: 100%;
  margin-bottom: .5rem;
  border: 2px solid #E8EBEE;
}

.wiki-content p + p {
  width: 100%;
}
