<div prefix="foaf: http://xmlns.com/foaf/0.1/" typeof="foaf:Document" resource="#">
  {{rdfa/rdfa-editor class="rdfa-editor" profile=profile value=editorDocument.content rdfaEditorInit=(action "handleRdfaEditorInit")}}
</div>

{{outlet}}